body {
    background-image: linear-gradient(180deg, rgba(160, 160, 160, 0.7), rgba(160, 160, 160, 0.6)), url("indo-food-background.jpg");
    background-color: transparent;
    background-size: cover;
    background-blend-mode: normal;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-body {
    width: 80%;
    max-width: 800px;
    background-color: rgb(211, 102, 102);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

h1, p, label {
    text-align: center;
    margin: 1em auto;
}

#title {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

#description {
    font-style: italic;
    margin-top: 0;
    font-size: 20px;
}

p {
    font-size: 16px;
}

label, input, legend, textarea {
    font-size: large;
    font-family: Helvetica;
}

label {
    text-align: left;
    display: block;
    margin: 12px;
    margin-bottom: 6px;
}

textarea {
    margin: 15px;
}

hr {
    height: 3px;
    background-color: whitesmoke;
    border-color: whitesmoke;
  }

.inline {
    display:inline;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.waiver {
    font-size: smaller;
    font-style: italic;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(163, 46, 46);
    border: none;
    min-width: 300px;
}